.main-page {
	background-color: #f8f9fa;
	height: auto;
	padding-top: 1.5rem;
}

.main-section {
	transition-duration: 300ms;
}

.home-section {
	margin: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 992px) {
	/* .main-page {
		padding-top: 1.5rem;
	} */
}

@media (min-width: 1200px) {
	.main-section {
		margin-left: 17.125rem;
	}

	.sidenav-pinned .main-section {
		margin-left: 7.5rem;
	}
}
