.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.logo-image {
	width: 35px;
	height: 35px;
}

.logo-text {
	font-size: 24px;
	font-weight: 700;
}

.register-title {
	margin: 0px 0px 20px;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

.register-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: -100px;
}

.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
}

.input-group label {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 14px;
}

.input-group input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
}

.input-group input::placeholder {
	color: #ccc;
}

.input-group input:focus {
	outline: none;
	border-color: #007bff;
}

.dont-have-account {
	margin-top: 10px;
	font-size: 14px;
}

.link-signup {
	color: #007bff;
	text-decoration: none;
}

.link-signup:hover {
	text-decoration: underline;
	color: #0056b3;
}

.register-button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
}

.register-button:hover {
	background-color: #0056b3;
}

.text-danger {
	color: red;
	font-size: 14px;
}

.alert-danger {
	font-size: 14px;
	padding: 10px 20px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f8d7da;
	color: #721c24;
	width: 300px;
}

@media (max-width: 768px) {
	.register-page {
		margin-top: -70px;
	}
}

@media (max-width: 480px) {
	.register-form {
		width: 75%;
		padding: 15px;
	}

	.alert-message {
		width: 75%;
		padding: 10px 15px;
	}
}
